header {
    padding: 50px 20px;
}

.navbar {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 5px;
    gap: 2rem;
    font-family: 'Gill Sans';
    font-size: 18px;
    font-weight: 600;
}

.navbar a {
    text-decoration: none;
    color: #141414; 
}

.navbar a.active {
    background-color: #5ba3ef;
    border-radius: 3px;
    padding: 10px; 
}
